.webgl-content {
    height: 100%;
    width: 100%;
}

.loading {
    filter: blur(5px);
}

#unityContainer {
    height: 100%;
    background: transparent !important;
}

.change-walls-color-button {
    border-radius: 25px;
    font-size: 12px;
    background-color: #71BF44;
    height: 100%;
    width: 100%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
